.App {
  background: black;
  box-shadow: purple 5px 5px;
  margin-left: 10vw;
  padding: 1em;
  text-align: center;
  width: 80vw;
}

nav a {
  padding: 1em;
  text-decoration: none;
}

h1, p, ol, li, ul {
  color: white;
}