.App {
  background: black;
  box-shadow: purple 5px 5px;
  margin-left: 10vw;
  padding: 1em;
  text-align: center;
  width: 80vw;
}

#crafts-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 1em;
  grid-column-gap: 1em;
}

#crafts-list h2 {
  color: white;
}

#crafts-list a {
  color: white;
  border: solid white 1px;
  box-shadow: white 1px 3px;
  text-decoration: none;
}

nav a {
  padding: 1em;
  text-decoration: none;
}

h1, p, ol, li, ul {
  color: white;
}