body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url("https://media.istockphoto.com/photos/vintage-power-generator-picture-id108272943?k=6&m=108272943&s=612x612&w=0&h=zf740nO1FD6GZMMwdlx6VjPnthnM5UChEIBpA3lah04="); */
  /* background-image: url("../imgs/Welding-2.jpeg");
  background-position: right -10px bottom 00px;
  background-repeat: no-repeat;
  background-color: black; */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
